<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {{!-- <link rel="stylesheet" href="http://localhost:4000/css/login.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:4000/css/test.css">
    <link rel="stylesheet" href="http://localhost:4000/css/add_test.css">
    {{!-- <link rel="stylesheet" href="http://localhost:4000/css/question.css"> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>     
</head>
<body>
    <div class="container-resource">
        {{{body}}}     
    </div>
</body>

</html>
