.content{
    display: inline-block;
    margin: 0 20px;
}
.add-datapage{
    color: crimson;
}
.page-content{
    display: inline-block;
    margin: 0 15px;
}
.block-add-content{
    margin-left: 20px;
}
.add-question{
    color: crimson;
}
// .add-datapage:hover{
//     text-decoration: underline;
//     cursor: pointer;
//     // background-color: rgb(253, 220, 250);
// }

// .add-question:hover{
//     text-decoration: underline;
//     cursor: pointer;
//     // background-color: rgb(253, 220, 250);
// }
h4:hover{
    text-decoration: underline;
    cursor: pointer;
}