.image_part1{
    width: 400px;
    height: 350px;
}
.block-container{
    margin-left: 10px;
}
.question-container{
    display: none;
    margin-left: 15px;
    margin-top: 10px;
}
#data-page-1{
    display: block;
}
.choice_list{
    padding: 10px;
    display: block;
}
.choice-item{
    display: block;
    padding: 2px;
}
.choice-container{
    background-color: rgb(222, 224, 224);
}
.btn{
    width: 60px;
    height: 20px;
}
p{
    font-size: 17px;
    padding: 5px;
}
.paragraph-container{
    background-color: rgb(239, 239, 240);
    margin: 5px;
}
.audio-container{
    margin: 5px;
}
.image-container{
    margin: 5px;
}
.question-button{
    line-height: 39px;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    width: 12%;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.change-color-choice-item{
    background-color: rgb(207, 236, 253);
    cursor: pointer;
}
.change-color-answer-item{
    background-color: rgb(197, 252, 252);
}
.time-left{
    display: inline-block;
    padding-left: 10px;
}
.control-container{
    position: relative;
    background-color: rgb(255, 231, 221);
    border: 3px solid black;
}
.menu-container{
    margin-top: 5px;
    font-size: 20px;
}
.question-button-container{
    border: 3px solid black;
    margin: 5px 0;
    background-color: rgb(253, 239, 255);
}
