.image_part1{
    width: 400px;
    height: 350px;
}
.block-container{
    margin-left: 30px;
}
.question-container{
    margin-left: 15px;
    margin-top: 10px;
}
.choice_list{
    padding: 10px;
    display: block;
}
.choice-item{
    display: block;
    padding: 2px;
}
.choice-container{
    background-color: rgb(222, 224, 224);
}
.btn{
    width: 60px;
    height: 20px;
}