<h1> MAIN LAYOUT </h1>
<div>
    <a href="http://localhost:4000/news">Link</a>
</div>
<label for="red">RED</label>
<input type="radio" class="inp_data" name="color_menu" id="red"></br>
<label for="green">GREEN</label>
<input type="radio" class="inp_data" name="color_menu" id="green">
<script src="../app/controllers/HomeController.js"></script>