<form action="http://localhost:4000/feedback" id="user_feedback" method="POST">
    <div class="body-wrapper col-sm-8 col-md-8">
        <div class="label-wrapper">
            <label for="feedback-content">Feedback</label>
        </div>
        <p id="feedback-content">

        </p>
        <div class="label-wrapper">
            <label for="reply-content">Reply</label>
        </div>
        <div class="reply-content">
            <textarea name="reply-content" id="reply-content" cols="100" rows="10"></textarea>
        </div>
        <button type="submit" form="user_feedback">Submit</button>
    </div>
</form>